@import "~antd/dist/antd.less";

@font-face {
  font-family: 'Poppins Light';
  src: url('../../server/static/fonts/Poppins-Light.woff') format('woff'),
  url('../../server/static/fonts/Poppins-Light.otf') format('otf');
}

@font-family : Poppins Light, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;

//show and hidden elements
.is-visible {
  display: block !important; }

.is-hidden {
  display: none !important; }

.code-box {
  border-bottom: 1px solid #e9e9e9;
  padding: 42px 20px 50px;
}
