.example {
  $color: #ddd;

  padding: 10px;
  font: 16px "Helvetica Neue", sans-serif;
  border: 1px solid $color;

  button {
    background: $color;
    padding: 10px 20px;
    border: 0;
    font-size: 1.4rem;
  }
}
