.nav {
  border-bottom: 2px solid #ccc;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    &:not(:first-child) {
      border-left: 1px solid #ccc;
    }
  }

  a {
    display: block;
    padding: 10px 20px;
  }
}
